# Admin CMS Environment Variables
PORT=3002
DATABASE_URL="postgres://user:password@host/db"
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
STORAGE_ENDPOINT=""
STORAGE_ACCESS_KEY_ID=""
STORAGE_SECRET_ACCESS_KEY=""
STORAGE_BUCKET_NAME=""
STORAGE_PUBLIC_DOMAIN=""
